
.img1{
    width:220px;
    height:300px;
    margin: 15px;
    border: 1px solid 
  
}
.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-image: url('https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=600');
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}